*{
margin: 0;
}
.input_section{
    margin: 20px;

}
input{
    width: 50px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    
}
button{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}
.timer_div{
    font-size: larger;
    font-weight: 800;
    margin-top: 20px;
}